<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mz.survey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SteponeActivity" />
        <activity android:name=".SteptwoActivity" />
        <activity android:name=".StepthreeActivity" />
        <activity android:name=".StepfourActivity" />
        <activity android:name=".StepfiveActivity" />
        <activity android:name=".StepsixActivity" />
        <activity android:name=".StepsevenActivity" />
        <activity android:name=".StepeightActivity" />
        <activity android:name=".StepnineActivity" />
        <activity android:name=".SteptenActivity" />
        <activity android:name=".StepelevenActivity" />
        <activity android:name=".SteptwelveActivity" />
        <activity android:name=".StepthirteenActivity" />
        <activity android:name=".StepfourteenActivity"></activity>
    </application>

</manifest>